* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: dotted black 5px;
    padding: 10vh 5vw;
    gap: 2vh;
}

#container {
    width: 90%;
    max-width: 80vh;
    aspect-ratio: 1/1;
    align-items: center;
    
}
#grid-size {
    align-self: center;
    padding: 10px;
}
#edge {
    background-color: red;
    padding: 6%;
}

#sketch-area {
    background-color: white;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.square {
    flex: 1;
    aspect-ratio: 1 / 1;
    opacity: 0;
}


.row-break {
    height: 0;
    flex-basis: 100%;
}